.banner{
  background-position: center;
  background-repeat: no-repeat;
  
  height: 180px;
  width: 100%;
  position: relative;
  padding: 15px;
}

.duracao{
    margin-left: 100px;
  }

  p{
    margin-left: 100px;
    padding: 0px;
    margin: 5;
    margin-top: 5px;
  }

.redondo{
  margin-right: 5px;
  width: 60px;
  height: 60px;
  size: 60;
  border-radius: 50%;
}