/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-verde: #319B51;
  --ion-color-verde-rgb: 49,155,81;
  --ion-color-verde-contrast: #ffffff;
  --ion-color-verde-contrast-rgb: 255,255,255;
  --ion-color-verde-shade: #2b8847;
  --ion-color-verde-tint: #46a562;
}

:root {
  --ion-color-verdemusgo: #1A4C29;
  --ion-color-verdemusgo-rgb: 26,76,41;
  --ion-color-verdemusgo-contrast: #ffffff;
  --ion-color-verdemusgo-contrast-rgb: 255,255,255;
  --ion-color-verdemusgo-shade: #174324;
  --ion-color-verdemusgo-tint: #315e3e;
}

:root {
  --ion-color-vermelho: #9B3133;
  --ion-color-vermelho-rgb: 155,49,51;
  --ion-color-vermelho-contrast: #ffffff;
  --ion-color-vermelho-contrast-rgb: 255,255,255;
  --ion-color-vermelho-shade: #882b2d;
  --ion-color-vermelho-tint: #a54647;
}

:root {
  --ion-color-vermelhoesc: #4C1A1B;
  --ion-color-vermelhoesc-rgb: 76,26,27;
  --ion-color-vermelhoesc-contrast: #ffffff;
  --ion-color-vermelhoesc-contrast-rgb: 255,255,255;
  --ion-color-vermelhoesc-shade: #431718;
  --ion-color-vermelhoesc-tint: #5e3132;
}

:root {
  --ion-color-azulc: #0066cc;
  --ion-color-azulc-rgb: 0,102,204;
  --ion-color-azulc-contrast: #ffffff;
  --ion-color-azulc-contrast-rgb: 255,255,255;
  --ion-color-azulc-shade: #005ab4;
  --ion-color-azulc-tint: #1a75d1;
}

:root {
  --ion-color-azule: #29507A;
  --ion-color-azule-rgb: 41,80,122;
  --ion-color-azule-contrast: #ffffff;
  --ion-color-azule-contrast-rgb: 255,255,255;
  --ion-color-azule-shade: #24466b;
  --ion-color-azule-tint: #3e6287;
}

:root {
  --ion-color-dourado: #B29B3E;
  --ion-color-dourado-rgb: 178,155,62;
  --ion-color-dourado-contrast: #000000;
  --ion-color-dourado-contrast-rgb: 0,0,0;
  --ion-color-dourado-shade: #9d8837;
  --ion-color-dourado-tint: #baa551;
}

:root {
  --ion-color-amarelo: #CAC668;
  --ion-color-amarelo-rgb: 202,198,104;
  --ion-color-amarelo-contrast: #000000;
  --ion-color-amarelo-contrast-rgb: 0,0,0;
  --ion-color-amarelo-shade: #b2ae5c;
  --ion-color-amarelo-tint: #cfcc77;
}

:root {
  --ion-color-roxoc: #B562CD;
  --ion-color-roxoc-rgb: 181,98,205;
  --ion-color-roxoc-contrast: #000000;
  --ion-color-roxoc-contrast-rgb: 0,0,0;
  --ion-color-roxoc-shade: #9f56b4;
  --ion-color-roxoc-tint: #bc72d2;
}

:root {
  --ion-color-roxoe: #803396;
  --ion-color-roxoe-rgb: 128,51,150;
  --ion-color-roxoe-contrast: #ffffff;
  --ion-color-roxoe-contrast-rgb: 255,255,255;
  --ion-color-roxoe-shade: #712d84;
  --ion-color-roxoe-tint: #8d47a1;
}

:root {
  --ion-color-aesc: #2C5081;
  --ion-color-aesc-rgb: 44,80,129;
  --ion-color-aesc-contrast: #ffffff;
  --ion-color-aesc-contrast-rgb: 255,255,255;
  --ion-color-aesc-shade: #274672;
  --ion-color-aesc-tint: #41628e;
}

:root {
  --ion-color-acla: #4D81C6;
  --ion-color-acla-rgb: 77,129,198;
  --ion-color-acla-contrast: #ffffff;
  --ion-color-acla-contrast-rgb: 255,255,255;
  --ion-color-acla-shade: #4472ae;
  --ion-color-acla-tint: #5f8ecc;
}
/*---------------------------------------------------------------------*/

.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  --ion-color-base-rgb: var(--ion-color-verde-rgb);
  --ion-color-contrast: var(--ion-color-verde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-shade);
  --ion-color-tint: var(--ion-color-verde-tint);
}

.ion-color-verdemusgo {
  --ion-color-base: var(--ion-color-verdemusgo);
  --ion-color-base-rgb: var(--ion-color-verdemusgo-rgb);
  --ion-color-contrast: var(--ion-color-verdemusgo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verdemusgo-contrast-rgb);
  --ion-color-shade: var(--ion-color-verdemusgo-shade);
  --ion-color-tint: var(--ion-color-verdemusgo-tint);
}

.ion-color-vermelho {
  --ion-color-base: var(--ion-color-vermelho);
  --ion-color-base-rgb: var(--ion-color-vermelho-rgb);
  --ion-color-contrast: var(--ion-color-vermelho-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vermelho-contrast-rgb);
  --ion-color-shade: var(--ion-color-vermelho-shade);
  --ion-color-tint: var(--ion-color-vermelho-tint);
}

.ion-color-vermelhoesc {
  --ion-color-base: var(--ion-color-vermelhoesc);
  --ion-color-base-rgb: var(--ion-color-vermelhoesc-rgb);
  --ion-color-contrast: var(--ion-color-vermelhoesc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vermelhoesc-contrast-rgb);
  --ion-color-shade: var(--ion-color-vermelhoesc-shade);
  --ion-color-tint: var(--ion-color-vermelhoesc-tint);
}

.ion-color-azulc {
  --ion-color-base: var(--ion-color-azulc);
  --ion-color-base-rgb: var(--ion-color-azulc-rgb);
  --ion-color-contrast: var(--ion-color-azulc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azulc-contrast-rgb);
  --ion-color-shade: var(--ion-color-azulc-shade);
  --ion-color-tint: var(--ion-color-azulc-tint);
}

.ion-color-azule {
  --ion-color-base: var(--ion-color-azule);
  --ion-color-base-rgb: var(--ion-color-azule-rgb);
  --ion-color-contrast: var(--ion-color-azule-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azule-contrast-rgb);
  --ion-color-shade: var(--ion-color-azule-shade);
  --ion-color-tint: var(--ion-color-azule-tint);
}

.ion-color-azule {
  --ion-color-base: var(--ion-color-azule);
  --ion-color-base-rgb: var(--ion-color-azule-rgb);
  --ion-color-contrast: var(--ion-color-azule-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azule-contrast-rgb);
  --ion-color-shade: var(--ion-color-azule-shade);
  --ion-color-tint: var(--ion-color-azule-tint);
}
.ion-color-dourado {
  --ion-color-base: var(--ion-color-dourado);
  --ion-color-base-rgb: var(--ion-color-dourado-rgb);
  --ion-color-contrast: var(--ion-color-dourado-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dourado-contrast-rgb);
  --ion-color-shade: var(--ion-color-dourado-shade);
  --ion-color-tint: var(--ion-color-dourado-tint);
}

.ion-color-amarelo {
  --ion-color-base: var(--ion-color-amarelo);
  --ion-color-base-rgb: var(--ion-color-amarelo-rgb);
  --ion-color-contrast: var(--ion-color-amarelo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-amarelo-contrast-rgb);
  --ion-color-shade: var(--ion-color-amarelo-shade);
  --ion-color-tint: var(--ion-color-amarelo-tint);
}

.ion-color-roxoc {
  --ion-color-base: var(--ion-color-roxoc);
  --ion-color-base-rgb: var(--ion-color-roxoc-rgb);
  --ion-color-contrast: var(--ion-color-roxoc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxoc-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxoc-shade);
  --ion-color-tint: var(--ion-color-roxoc-tint);
}

.ion-color-roxoe {
  --ion-color-base: var(--ion-color-roxoe);
  --ion-color-base-rgb: var(--ion-color-roxoe-rgb);
  --ion-color-contrast: var(--ion-color-roxoe-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxoe-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxoe-shade);
  --ion-color-tint: var(--ion-color-roxoe-tint);
}

.ion-color-aesc {
  --ion-color-base: var(--ion-color-aesc);
  --ion-color-base-rgb: var(--ion-color-aesc-rgb);
  --ion-color-contrast: var(--ion-color-aesc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-aesc-contrast-rgb);
  --ion-color-shade: var(--ion-color-aesc-shade);
  --ion-color-tint: var(--ion-color-aesc-tint);
}

.ion-color-acla {
  --ion-color-base: var(--ion-color-acla);
  --ion-color-base-rgb: var(--ion-color-acla-rgb);
  --ion-color-contrast: var(--ion-color-acla-contrast);
  --ion-color-contrast-rgb: var(--ion-color-acla-contrast-rgb);
  --ion-color-shade: var(--ion-color-acla-shade);
  --ion-color-tint: var(--ion-color-acla-tint);
}